<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  </head>
  <body>
    <h1>This is Login Page</h1>
    <nav>
      <ul>
        <li><a href="/">HomePage</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </nav>
    <header>
      <h1>Login Using .....</h1>
      <main>
        <a class="google-btn" href="/auth/google">Google+</a>
      </main>
    </header>
  </body>
</html>
